.contentcontainer{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

h1{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.entry {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

}
h3{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
